.Card {
    width: 120px;
    margin: 20px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        font-size: 20px;
    }

    .heart,
    .diamond {
        color: red;
    }
}